BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
AllowShortFunctionsOnASingleLine: false
AlignAfterOpenBracket: Align
PointerAlignment: Left
SpaceBeforeParens: Never
ColumnLimit: 80
AlignOperands: true
AlwaysBreakAfterReturnType: TopLevelDefinitions
BreakBeforeBraces: Allman
